<div class="container">
    <div class="card m-3 p-4">
        {{#if message}}
            <p style="color: red;">{{this.message}}</p>
        {{/if}}
        <form action="/login" method="POST">
            <div class="form-group">
                <label>Username:</label>
                <input class="border form-control" type="text" name="username" required/>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input class="border form-control" type="password" name="password" required/>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Log In"/>
            </div>
        </form>
    </div>
</div>